﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Chcesz poznać nasze najlepsze produkty? Kliknij w link!</h1>
<ul>
    <li>@Html.ActionLink("Najlepsze produkty", "BestProducts")</li>
    <li>@Html.ActionLink("Najlepsze produkty (Async)", "BestProductsAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (ManualAsync)", "BestProductsManualAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (ConcurrentQueriesAsync)", "BestProductsConcurrentQueriesAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (ConcurrentReadersAsync)", "BestProductsConcurrentReadersAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (AsyncWithWait)", "BestProductsWithWaitAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (AsyncWithCancellationToken)", "BestProductsCancellableAsync")</li>
    
</ul>